@model MVC_UI.Models.CouponDetails

@{
    ViewData["Title"] = "GetCouponById";
}



<div>
    <h4>CouponDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CouponExpiredDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CouponExpiredDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "UpdateCoupon", new { id = Model.CouponId }) |
    @Html.ActionLink("Back to List", "CouponsByUserId", new { id = Model.UserId }) |
    @*<a asp-action="GetCoupons">Back to List</a>*@
</div>
